<div class="testimonials">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/luf.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/luf.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/luf.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/ku.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/nar.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/joo.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/go.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card">
          <div class="layer"></div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Error nisi consectetur veniam
              architecto suscipit, nobis sde sunt laudantium
              tempore labore unde tenetur.
            </p>
            <div class="imgBx">
              <img src="../assets/image/tokyo.png" alt="">
            </div>
            <div class="details">
              <h2>Someone Famous <br> <span>Website Designer</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
